@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@font-face {
  font-family: "Christopher";
  src: url("../fonts/christopher.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #282828;
  background-color: #fefefe;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.custom-container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  z-index: 99;
}
.header.header.hidden {
  position: fixed;
}
.header.header.active {
  position: fixed;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header.hidden .header__wrapper {
  opacity: 0;
  -webkit-transform: translateY(-400px);
          transform: translateY(-400px);
}
.header.hidden.active .header__wrapper {
  max-width: 1044px;
  padding: 12px 48px;
  border-radius: 32px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(68, 68, 68, 0.15);
          box-shadow: 0 2px 12px 0 rgba(68, 68, 68, 0.15);
  background-color: #fefefe;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__logo-link-image {
  display: block;
  max-width: 100%;
  width: 180px;
  height: auto;
}
.header.hidden.active .header__logo {
  display: none;
}
.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header__nav-menu-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__nav-menu-item-link {
  display: inline-block;
  min-height: 44px;
  padding: 12px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #282828;
  border: none;
  border-radius: 32px;
  background-color: #f4f4fb;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.header__nav-menu-item-link:hover {
  background-color: #f2f8fd;
}
.header__nav-menu-item-link:active {
  background-color: #e1f0fa;
}
.header__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  gap: 16px;
}
.header__controls-profile, .header__controls-login, .header__controls-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-height: 44px;
  padding: 12px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #282828;
  border: none;
  border-radius: 32px;
  background-color: #f4f4fb;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.header__controls-profile:hover, .header__controls-login:hover, .header__controls-buy:hover {
  background-color: #f2f8fd;
}
.header__controls-profile:active, .header__controls-login:active, .header__controls-buy:active {
  background-color: #e1f0fa;
}
.header__controls-profile {
  display: none;
  padding: 0;
  width: 44px;
  aspect-ratio: 1;
}
.header__controls-profile::before {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 22px;
  aspect-ratio: 1;
  background: url(../assets/profile.svg) center/cover no-repeat;
}
.header__controls_logged .header__controls-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__controls_logged .header__controls-login {
  display: none;
}
.header__controls-buy {
  color: #fefefe;
  background-color: #8f2d29;
}
.header__controls-buy:hover {
  background-color: #9f322d;
}
.header__controls-buy:active {
  background-color: #af3732;
}

.first-screen {
  position: relative;
  padding: 126px 0 0;
  overflow: hidden;
  background: url(../assets/gradients.svg) center/cover no-repeat;
}
.first-screen::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: calc(50% + 194px);
  bottom: -190px;
  display: inline-block;
  width: 716px;
  height: 668px;
  background: url(../assets/circles-bg.svg) center/cover no-repeat;
}
.first-screen__wrapper {
  position: relative;
  z-index: 10;
}
.first-screen__wrapper::before {
  content: "";
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 493px;
  height: 739px;
  background: url(../assets/first-screen-girl.png) center/cover no-repeat;
}
.first-screen__slider {
  position: relative;
  z-index: 1;
}
.first-screen__slider .swiper-pagination {
  bottom: 50px;
}
.first-screen__slider .swiper-pagination-bullet {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 6px !important;
  width: 12px;
  height: 8px;
  border-radius: 8px;
  background-color: #d8d9d8;
  opacity: 1;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.first-screen__slider .swiper-pagination-bullet-active {
  width: 28px;
  background-color: #fefefe;
}
.first-screen__slide {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 730px;
  padding: 160px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.first-screen__slide * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.first-screen__slide-description {
  max-width: 604px;
  margin-left: 64px;
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
  color: #282828;
}
.first-screen__slide-title {
  margin: 0 0 32px;
  font-family: "Christopher", sans-serif;
  font-weight: 500;
  font-size: 184px;
  line-height: 100%;
  color: #4f0001;
}
.first-screen__slide-request-button {
  display: inline-block;
  padding: 16px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #fefefe;
  border: none;
  border-radius: 32px;
  background-color: #8f2d29;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.first-screen__slide-request-button:hover {
  background-color: #9f322d;
}
.first-screen__slide-request-button:active {
  background-color: #af3732;
}

.services {
  padding: 64px 0 48px;
}
.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 16px);
          flex: 0 0 calc(33.3333333333% - 16px);
  gap: 32px;
  padding: 8px 8px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 32px;
}
.services__item_gym {
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f3f4fb));
  background: linear-gradient(180deg, #f7f7f7 0%, #f3f4fb 100%);
}
.services__item_groups {
  padding: 32px 8px 8px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #e1f0fa), to(#8db9d6));
  background: linear-gradient(180deg, #e1f0fa 25%, #8db9d6 100%);
}
.services__item_spa {
  background-color: #f4f4fb;
}
.services__item-figure {
  margin: 0;
}
.services__item-figure-image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 28px;
}
.services__item_groups .services__item-figure {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.services__item-info {
  padding: 0 16px;
}
.services__item-info-title {
  margin: 0 0 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #282828;
}
.services__item-info-description {
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #282828;
}
.services__item-info-more {
  margin: 0;
}
.services__item-info-more-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 6px;
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #8f2d29;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.services__item-info-more-button:hover {
  color: #9f322d;
}
.services__item-info-more-button:active {
  color: #af3732;
}
.services__item-info-more-button::after {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 16px;
  aspect-ratio: 1;
  background: url(../assets/arrow-red.svg) center/cover no-repeat;
}
.services__item_groups .services__item-info {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.services__item-details {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(40, 40, 40, 0.5);
  opacity: 0;
  pointer-events: none;
}
.services__item-details-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  max-width: 916px;
  max-height: calc(100dvh - 30px);
  width: calc(100dvw - 30px);
  padding: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 32px;
  background-color: #fefefe;
}
.services__item-details-close {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 10;
  display: block;
  width: 36px;
  aspect-ratio: 1;
  background: url(../assets/close.svg) center/18px no-repeat;
  cursor: pointer;
}
.services__item-details-sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 348px;
          flex: 0 0 348px;
}
.services__item-details-sidebar-figure {
  margin: 0 0 16px;
}
.services__item-details-sidebar-figure-image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 32px;
}
.services__item-details-sidebar-choose-button {
  display: inline-block;
  width: 100%;
  padding: 16px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #fefefe;
  border: none;
  border-radius: 32px;
  background-color: #8f2d29;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.services__item-details-sidebar-choose-button:hover {
  background-color: #9f322d;
}
.services__item-details-sidebar-choose-button:active {
  background-color: #af3732;
}
.services__item-details-info-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #282828;
}
.services__item-details-info-paragraph {
  margin: 16px 0 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #282828;
}
.services__item.active .services__item-details {
  opacity: 1;
  pointer-events: all;
}

.about-tariffs {
  padding: 48px 0;
}
.about-tariffs__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
  margin: 0 0 32px;
}
.about-tariffs__heading-info-title {
  margin: 0 0 -12px;
  font-family: "Christopher", sans-serif;
  font-weight: 500;
  font-size: 84px;
  line-height: 100%;
  color: #4f0001;
}
.about-tariffs__heading-info-description {
  padding-left: 32px;
  font-weight: 500;
  font-size: 22px;
  line-height: 110%;
  color: #282828;
}
.about-tariffs__heading-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.about-tariffs__heading-controls-prev, .about-tariffs__heading-controls-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  aspect-ratio: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #e1f0fa;
  border-radius: 48px;
  background-color: #fefefe;
  -webkit-transition: background-color ease-out 0.2s;
  transition: background-color ease-out 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.about-tariffs__heading-controls-prev:hover, .about-tariffs__heading-controls-next:hover {
  background-color: #68acd9;
}
.about-tariffs__heading-controls-prev:active, .about-tariffs__heading-controls-next:active {
  background-color: #fefefe;
}
.about-tariffs__heading-controls-prev::before, .about-tariffs__heading-controls-next::before {
  content: "";
  display: block;
  width: 24px;
  aspect-ratio: 1;
  background: url(../assets/next.svg) center/24px no-repeat;
}
.about-tariffs__heading-controls-prev:hover::before, .about-tariffs__heading-controls-next:hover::before {
  -webkit-filter: brightness(0%) invert(100%);
          filter: brightness(0%) invert(100%);
}
.about-tariffs__heading-controls-prev:active::before, .about-tariffs__heading-controls-next:active::before {
  -webkit-filter: brightness(100%) invert(0%);
          filter: brightness(100%) invert(0%);
}
.about-tariffs__heading-controls-prev::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.about-tariffs__slider {
  display: block;
}
.about-tariffs__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  padding: 24px;
  border-radius: 32px;
}
.about-tariffs__slide_light {
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f3f4fb));
  background: linear-gradient(180deg, #f7f7f7 0%, #f3f4fb 100%);
}
.about-tariffs__slide_smart {
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f8fd), to(#e1f0fa));
  background: linear-gradient(180deg, #f2f8fd 0%, #e1f0fa 100%);
}
.about-tariffs__slide_pro {
  background: -webkit-gradient(linear, left top, left bottom, from(#faf0f0), to(#f0dcdb));
  background: linear-gradient(180deg, #faf0f0 0%, #f0dcdb 100%);
}
.about-tariffs__slide-title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #282828;
}
.about-tariffs__slide-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.about-tariffs__slide-services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
}
.about-tariffs__slide-services-item::before {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20px;
  aspect-ratio: 1;
  background: url(../assets/disabled.svg) center/cover no-repeat;
}
.about-tariffs__slide-services-item.active::before {
  background-image: url(../assets/checked.svg);
}
.about-tariffs__slide-services-item-name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #808080;
}
.about-tariffs__slide-services-item.active .about-tariffs__slide-services-item-name {
  color: #282828;
}
.about-tariffs__slide-services-item-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.about-tariffs__slide-services-item-info-button {
  display: block;
  width: 20px;
  padding: 0;
  aspect-ratio: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background: url(../assets/info.svg) center/cover no-repeat;
  cursor: pointer;
}
.about-tariffs__slide-services-item.active .about-tariffs__slide-services-item-info {
  display: none;
}
.about-tariffs__slide-price {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #282828;
}
.about-tariffs__slide-buy-button {
  display: inline-block;
  width: 100%;
  padding: 16px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #fefefe;
  border: none;
  border-radius: 32px;
  background-color: #8f2d29;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.about-tariffs__slide-buy-button:hover {
  background-color: #9f322d;
}
.about-tariffs__slide-buy-button:active {
  background-color: #af3732;
}
.about-tariffs__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 32px 0 0;
}
.about-tariffs__more-link {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-height: 44px;
  padding: 12px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #282828;
  border: none;
  border-radius: 32px;
  background-color: #f4f4fb;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.about-tariffs__more-link:hover {
  background-color: #f2f8fd;
}
.about-tariffs__more-link:active {
  background-color: #e1f0fa;
}

.footer {
  padding: 48px 0;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  padding: 48px 48px 32px;
  border-radius: 32px;
  background: #f4f4fb;
}
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  gap: 32px;
}
.footer__main-logo-link {
  display: block;
}
.footer__main-logo-link-image {
  display: block;
  max-width: 100%;
  width: 250px;
  height: auto;
}
.footer__main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
}
.footer__main-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer__main-nav-menu-item-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #9c9999;
  -webkit-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}
.footer__main-nav-menu-item-link:hover {
  color: #8f2d29;
}
.footer__main-phone-link {
  display: inline-block;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #282828;
  border-radius: 32px;
  background-color: #fefefe;
  -webkit-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}
.footer__main-phone-link:hover {
  color: #8f2d29;
}
.footer__app {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 232px;
          flex: 0 0 232px;
}
.footer__app-download {
  margin: 0 0 16px;
  padding: 24px;
  border-radius: 32px;
  background-color: #ffffff;
}
.footer__app-download-title {
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 125%;
  color: #282828;
}
.footer__app-download-qr {
  margin: 0;
}
.footer__app-download-qr-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.footer__app-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__app-store-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 64px;
  aspect-ratio: 1;
  border-radius: 64px;
  background-color: #fefefe;
  -webkit-transition: background-color ease-out 0.2s;
  transition: background-color ease-out 0.2s;
}
.footer__app-store-link:hover {
  background-color: #fafafa;
}
.footer__app-store-link:active {
  background-color: #f2f2f2;
}
.footer__app-store-link-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.footer__copyright-content {
  max-width: 464px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 13px;
  line-height: 125%;
  color: #808080;
}