.atmosphere {
  padding: 48px 0;

  &__wrapper {
    display: block;
  }

  &__slider {
    & .swiper {
      &-pagination {
        left: 48px;
        bottom: 32px;
        width: fit-content;

        &-bullet {
          display: inline-block;
          flex: 0 0 auto;
          margin: 0 6px !important;
          width: 12px;
          height: 8px;
          border-radius: 8px;
          background-color: #d8d9d8;
          opacity: 1;
          transition-property: width, background-color;
          transition-timing-function: linear;
          transition-duration: 0.2s;

          &-active {
            width: 28px;
            background-color: #fefefe;
          }
        }
      }

      &-button {
        &-prev,
        &-next {
          position: absolute;
          top: auto !important;
          left: auto !important;
          bottom: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 48px;
          padding: 0 !important;
          box-sizing: border-box;
          border: 1px solid #f4f4fb;
          border-radius: 9999px;
          padding: 8px;
          background: rgba(60, 63, 92, 0.2);
          backdrop-filter: blur(4px);

          &::before {
            content: '';
            display: block;
            width: 24px;
            aspect-ratio: 1;
            background: url(../assets/next.svg) center / 24px no-repeat;
            filter: brightness(0%) invert(100%);
          }

          & .swiper-navigation-icon {
            display: none;
          }
        }

        &-prev {
          right: 112px;

          &::before {
            transform: rotate(180deg);
          }
        }

        &-next {
          right: 48px;
        }
      }
    }
  }

  &__slide {
    position: relative;
    width: 100%;
    height: 640px;
    border-radius: 32px;
    overflow: hidden;
    background-color: #282828;

    &-iframe {
      width: 100%;
      height: 100%;
      border: none;
    }

    &-overlay {
      position: absolute;
      inset: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;

      &.hidden {
        display: none;
      }

      &-photo {
        margin: 0;

        &-image {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }

      &-play {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 72px;
        height: 72px;
        border: 1px solid #f4f4fb;
        border-radius: 9999px;
        background: rgba(60, 63, 92, 0.3);
        backdrop-filter: blur(10px);
        transform: translate3d(-50%, -50%, 0);
        cursor: pointer;

        &::before {
          content: '';
          display: block;
          width: 36px;
          aspect-ratio: 1;
          background: url(../assets/play.svg) center / cover no-repeat;
          transform: translateX(3px);
        }
      }
    }
  }
}
