.coach-personal {
  position: relative;
  padding: 48px 0;

  @include mobile {
    padding: 12px 0;
  }

  &__wrapper {
    display: block;
  }

  &__details {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 380px;
    margin-left: 380px;
    padding: 48px 32px 32px;
    box-sizing: border-box;
    border-radius: 32px;
    background-color: #f4f4fb;

    @include laptop {
      display: block;
    }

    @include tablet {
      margin-left: 0;
      padding: 12px 12px 24px;
    }

    &-name {
      flex: 1 1 100%;
      max-width: calc(60% - 24px);
      margin: 0 0 4px;
      font-weight: 600;
      font-size: 32px;
      line-height: 125%;
      color: #282828;

      @include laptop {
        max-width: none;
      }
    }

    &-role {
      flex: 1 1 100%;
      max-width: calc(60% - 24px);
      margin: 0 0 32px;
      font-weight: 500;
      font-size: 16px;
      line-height: 125%;
      color: #282828;

      @include laptop {
        max-width: none;
        margin-bottom: 16px;
      }
    }

    &-location {
      position: absolute;
      top: 48px;
      right: 32px;
      flex: 0 1 auto;
      max-width: calc(40% - 64px);
      width: 100%;
      padding: 8px 12px;
      margin-left: 28px;
      font-weight: 500;
      font-size: 14px;
      line-height: 125%;
      color: #282828;
      border-radius: 32px;
      background: #fefefe;

      @include laptop {
        position: relative;
        top: auto;
        right: auto;
        max-width: none;
        width: fit-content;
        margin-left: 28px;
        margin-bottom: 16px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -28px;
        display: block;
        width: 20px;
        height: 28px;
        background: url(../assets/location_on.svg) top left / 20px no-repeat;
      }
    }

    &-photo {
      position: absolute;
      top: 0;
      left: -380px;

      @include tablet {
        position: relative;
        top: auto;
        left: auto;
        margin-bottom: 40px;
      }

      &-figure {
        width: 364px;
        min-height: 380px;
        margin: 0;

        @include tablet {
          min-height: auto;
          width: 100%;
        }

        &-image {
          display: block;
          max-width: 100%;
          height: auto;
          border-radius: 32px;
        }
      }

      &-experience {
        position: absolute;
        left: 16px;
        bottom: 16px;
        z-index: 10;
        display: block;
        padding: 12px 24px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: #fefefe;
        border: 1px solid #f4f4fb;
        border-radius: 32px;
        background: rgba(60, 63, 92, 0.4);
      }
    }

    &-section {
      flex: 0 0 calc(100% / 2 - 24px / 2);

      @include laptop {
        margin-top: 16px;
      }

      &-title {
        margin: 0 0 16px;
        font-weight: 600;
        font-size: 18px;
        line-height: 125%;
        color: #282828;
      }

      &-list {
        margin: 0;
        padding: 0;
        padding-left: 20px;

        &-item {
          margin: 16px 0 0;
          font-weight: 500;
          font-size: 16px;
          line-height: 125%;
          color: #282828;

          &:first-child {
            margin-top: 0;
          }

          &::marker {
            color: #68acd9;
          }
        }
      }
    }

    &-signup {
      margin: 32px 0 0;

      @include mobile {
        margin-top: 16px;
      }

      &-button {
        display: inline-block;
        padding: 16px 24px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: #fefefe;
        border: none;
        border-radius: 32px;
        background-color: #8f2d29;
        transition-property: background-color;
        transition-timing-function: ease-out;
        transition-duration: 0.2s;
        cursor: pointer;

        @include mobile {
          width: 100%;
        }

        &:hover {
          background-color: #9f322d;
        }

        &:active {
          background-color: #af3732;
        }
      }

      &-modal {
        position: fixed;
        inset: 0;
        z-index: 99999;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #282828, $alpha: 0.5);
        opacity: 0;
        pointer-events: none;
        transition: opacity ease-out 0.2s;

        @include tablet {
          align-items: flex-end;
        }

        &.active {
          opacity: 1;
        pointer-events: all;
        }

        &-body {
          position: relative;
          display: block;
          width: 916px;
          max-width: 96dvw;
          max-height: 96dvh;
          padding: 48px;
          box-sizing: border-box;
          border-radius: 32px;
          background-color: #fefefe;
          transform: translateY(120dvh);
           transition: transform ease-out 0.2s;

          @include laptop {
            padding: 24px;
          }

          @include tablet {
            max-width: 100dvh;
            width: 100%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

        &.active &-body{
          transform: translateY(0dvh);
        }

        &-close {
          position: absolute;
          top: 24px;
          right: 24px;
          display: block;
          width: 36px;
          height: 36px;
          border: none;
          background: url(../assets/close.svg) center / 20px no-repeat;
          cursor: pointer;

          @include laptop {
            top: 12px;
            right: 12px;
          }

          @include tablet {
            display: none;
          }
        }

        &-content {
          display: flex;
          gap: 32px;
          max-height: calc(96dvh - 48px * 2);
          overflow: auto;

          @include laptop {
            max-height: calc(96dvh - 24px * 2);
          }
        }

        &-photo {
          flex: 0 0 364px;
          margin: 0;

          @include tablet {
            display: none;
          }

          &-image {
            display: block;
            max-width: 100%;
            height: auto;
            border-radius: 32px;
          }
        }

        &-info {
          display: flex;
          flex-direction: column;
          flex: 1 1 100%;
          gap: 16px;

          &-location {
            position: relative;
            width: fit-content;
            padding: 8px 12px;
            margin-left: 28px;
            margin-bottom: 0;
            font-weight: 500;
            font-size: 14px;
            line-height: 125%;
            color: #282828;
            border-radius: 32px;
            background: #f4f4fb;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: -28px;
              display: block;
              width: 20px;
              height: 28px;
              background: url(../assets/location_on.svg) top left / 20px no-repeat;
            }
          }

          &-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 125%;
            color: #282828;

            @include mobile {
              font-size: 19px;
            }
          }

          &-coach {
            display: flex;
            flex-direction: column;
            gap: 4px;

            &-title {
              font-weight: 500;
              font-size: 16px;
              line-height: 125%;
              color: #282828;
            }

            &-name {
              font-weight: 600;
              font-size: 16px;
              line-height: 125%;
              color: #282828;
            }
          }

          &-date {
            display: flex;
            flex-direction: column;
            gap: 4px;

            &-day {
              font-weight: 500;
              font-size: 16px;
              line-height: 125%;
              color: #282828;
            }

            &-time {
              font-weight: 600;
              font-size: 16px;
              line-height: 125%;
              color: #282828;
            }
          }

          &-signup {
            &-button {
              display: inline-block;
              width: 100%;
              padding: 16px 24px;
              box-sizing: border-box;
              font-weight: 500;
              font-size: 16px;
              line-height: 125%;
              color: #fefefe;
              border: none;
              border-radius: 32px;
              background-color: #8f2d29;
              transition-property: background-color;
              transition-timing-function: ease-out;
              transition-duration: 0.2s;
              cursor: pointer;

              @include mobile {
                width: 100%;
              }

              &:hover {
                background-color: #9f322d;
              }

              &:active {
                background-color: #af3732;
              }
            }
          }

          &-disclaimer {
            display: flex;
            align-items: flex-end;
            flex: 1 1 auto;
            font-weight: 500;
            font-size: 13px;
            line-height: 125%;
            color: #808080;

            & a {
              text-decoration: underline;
              text-decoration-skip-ink: none;
            }
          }
        }
      }
    }
  }

  &__info {
    margin: 32px 0 0;
    padding: 48px;
    border-radius: 32px;
    background: url(../assets/circles-bg.svg) top -160px right -90px / 410px no-repeat;
    background-color: #f4f4fb;

    @include laptop {
      padding: 24px;
    }

    &-menu {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 12px;
      margin: 0 0 32px;

      @include mobile {
        gap: 8px;
        margin-bottom: 16px;
      }

      &-button {
        display: block;
        flex: 0 0 auto;
        padding: 12px 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: #282828;
        border: 2px solid #68acd9;
        border-radius: 32px;
        background-color: rgba($color: #68acd9, $alpha: 0);
        transition: background-color ease-out 0.2s;
        cursor: pointer;

        @include mobile {
          padding: 7px 12px;
          font-size: 13px;
        }

        &.active {
          color: #fefefe;
          background-color: rgba($color: #68acd9, $alpha: 1);
        }
      }
    }

    &-section {
      display: none;

      &.active {
        display: block;
      }

      &-list {
        margin: 0;
        padding: 0;
        list-style-type: none;

        &-item {
          display: flex;
          align-items: flex-start;
          gap: 8px;

          margin: 16px 0 0;
          font-weight: 500;
          font-size: 16px;
          line-height: 125%;
          color: #282828;

          &:first-child {
            margin-top: 0;
          }

          &::before {
            content: '';
            display: block;
            flex: 0 0 auto;
            width: 20px;
            height: 20px;
            background: url(../assets/check.svg) center / cover no-repeat;
          }
        }
      }
    }
  }
}
