.first-screen {
  position: relative;
  padding: 126px 0 0;
  overflow: hidden;
  background: url(../assets/gradients.svg) center / cover no-repeat;

  @include laptop {
    padding: 0;
    padding: 100px 0 12px;
    background: none;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: calc(100% / 2 + 194px);
    bottom: -190px;
    display: inline-block;
    width: 716px;
    aspect-ratio: 716 / 668;
    background: url(../assets/circles-bg.svg) center / cover no-repeat;

    @include laptop {
      left: auto;
      right: -167px;
      bottom: -230px;
      width: 429px;
    }
  }

  &::after {
    @include laptop {
      content: '';
      position: absolute;
      z-index: 0;
      top: 100px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 32px;
      background: url(../assets/gradients.svg) center / cover no-repeat;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 10;

    @include laptop {
      border-radius: 42px;
      overflow: hidden;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      right: 0;
      bottom: 0;
      display: inline-block;
      width: 493px;
      aspect-ratio: 493 / 739;
      background: url(../assets/first-screen-girl.png) center / cover no-repeat;

      @include desktop {
        right: -120px;
        width: 480px;
      }

      @include laptop {
        top: 150px;
        right: -10px;
        width: 264px;
        pointer-events: none;
      }
    }
  }

  &__slider {
    position: relative;
    z-index: 1;

    & .swiper {
      &-pagination {
        bottom: 50px;

        @include laptop {
          display: none;
        }

        &-bullet {
          display: inline-block;
          flex: 0 0 auto;
          margin: 0 6px !important;
          width: 12px;
          height: 8px;
          border-radius: 8px;
          background-color: #d8d9d8;
          opacity: 1;
          transition-property: width, background-color;
          transition-timing-function: linear;
          transition-duration: 0.2s;

          &-active {
            width: 28px;
            background-color: #fefefe;
          }
        }
      }
    }
  }

  &__slide {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 730px;
    padding: 160px 0;
    box-sizing: border-box;

    @include laptop {
      min-height: 500px;
      padding: 32px 16px;
    }

    & * {
      user-select: none;
    }

    &-description {
      max-width: 604px;
      margin-left: 64px;
      margin-bottom: 17px;
      font-weight: 500;
      font-size: 36px;
      line-height: 110%;
      color: #282828;

      @include laptop {
        max-width: 400px;
        margin-left: 48px;
        margin-bottom: 6px;
        font-size: 24px;
      }

      @include tablet {
        max-width: 320px;
        font-size: 20px;
      }

      @include mobile {
        max-width: 256px;
        font-size: 16px;
      }
    }

    &-title {
      position: absolute;
      margin: 0 0 32px;
      font-family: 'Christopher', sans-serif;
      font-weight: 500;
      font-size: 184px;
      line-height: 100%;
      color: #4f0001;
      opacity: 0;
      pointer-events: none;
    }

    &-heading {
      display: block;
      margin: 0 0 59px;

      @include laptop {
        margin-bottom: 22px;
      }

      &-image {
        display: block;
        max-width: 100%;
        max-height: 130px;
        height: auto;

        @include laptop {
          max-height: 72px;
        }

        @include mobile {
          max-height: 50px;
        }
      }
    }

    &-request {
      &-button {
        display: inline-block;
        padding: 16px 24px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: #fefefe;
        border: none;
        border-radius: 32px;
        background-color: #8f2d29;
        transition-property: background-color;
        transition-timing-function: ease-out;
        transition-duration: 0.2s;
        cursor: pointer;

        &:hover {
          background-color: #9f322d;
        }

        &:active {
          background-color: #af3732;
        }
      }
    }
  }
}
