.gift-cards {
  position: relative;
  padding: 48px 0;

  @include mobile {
    padding: 12px 0;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 48px;
    overflow: hidden;
    border-radius: 38px;
    background: url(../assets/gift-cards-bg.svg) center / cover no-repeat;

    @include tablet {
      padding: 32px 24px 24px;
    }

    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: -88px;
      z-index: 1;
      display: block;
      width: 459px;
      aspect-ratio: 459 / 561;
      background: url(../assets/spiral.svg) center / cover no-repeat;

      @include tablet {
        bottom: 50px;
      }

      @include mobile {
        right: -50px;
      }
    }
  }

  &__info {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 48px 0;

    @include tablet {
      padding: 0;
    }

    &-title {
      position: absolute;
      margin: 0 0 -12px;
      font-family: 'Christopher', sans-serif;
      font-weight: 500;
      font-size: 84px;
      line-height: 100%;
      color: #4f0001;
      opacity: 0;
      pointer-events: none;
    }

    &-heading {
      display: block;
      margin: 0;

      &-image {
        display: block;
        max-width: 100%;
        max-height: 65px;
        height: auto;

        @include mobile {
          max-height: 38px;
        }
      }
    }

    &-description {
      margin: 0 0 32px;
      padding-left: 32px;
      font-weight: 500;
      font-size: 22px;
      line-height: 110%;
      color: #282828;

      @include mobile {
        margin-bottom: 17px;
        font-size: 15px;
      }
    }

    &-give {
      @include tablet {
        width: 100%;
        margin-top: 330px;
      }

      &-button {
        display: inline-block;
        padding: 16px 24px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: #fefefe;
        border: none;
        border-radius: 32px;
        background-color: #8f2d29;
        transition-property: background-color;
        transition-timing-function: ease-out;
        transition-duration: 0.2s;
        cursor: pointer;

        @include tablet {
          width: 100%;
        }

        &:hover {
          background-color: #9f322d;
        }

        &:active {
          background-color: #af3732;
        }
      }
    }
  }

  &__figure {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 0 1 auto;
    margin: 0;
    height: 300px;
    overflow: hidden;

    @include laptop {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9;
    }

    @include tablet {
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      height: auto;
    }

    &-image {
      display: block;
      max-width: 100%;
      height: auto;

      @include mobile {
        max-width: none;
      }

      &_desktop {
        display: block;

        @include mobile {
          display: none;
        }
      }

      &_mobile {
        display: none;

        @include mobile {
          display: block;
        }
      }
    }
  }
}
