.header {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  z-index: 99;
  max-width: 100%;
  overflow: hidden;

  @include laptop {
    top: 0;
    padding: 12px;
    border-radius: 0 0 32px 32px;
    background: linear-gradient(180deg, #f2f8fd 0%, #e1f0fa 100%);
  }

  &.header.hidden {
    position: fixed;
    background: linear-gradient(
      180deg,
      rgba($color: #f2f8fd, $alpha: 0) 0%,
      rgba($color: #e1f0fa, $alpha: 0) 100%
    );
  }

  &.header.active {
    position: fixed;
    background: linear-gradient(
      180deg,
      rgba($color: #f2f8fd, $alpha: 0) 0%,
      rgba($color: #e1f0fa, $alpha: 0) 100%
    );
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin: 0 auto;
    box-sizing: border-box;

    @include laptop {
      padding: 12px 24px;
      margin: 0 -15px;
      border-radius: 48px;
      background-color: #fefefe;
    }
  }

  &.hidden &__wrapper {
    opacity: 0;
    transform: translateY(-400px);
  }

  &.hidden.active &__wrapper {
    max-width: 1044px;
    padding: 12px 48px;
    border-radius: 32px;
    box-shadow: 0 2px 12px 0 rgba(68, 68, 68, 0.15);
    background-color: rgba($color: #fefefe, $alpha: 1);
    opacity: 1;
    transform: translateY(0);
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
    transition-duration: 0.4s;

    @include laptop {
      padding: 12px 24px;
      border-radius: 48px;
    }
  }

  &__logo {
    flex: 0 0 auto;

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;

      &-image {
        display: block;
        max-width: 100%;
        width: 180px;
        height: auto;

        @include desktop {
          width: 140px;
        }

        @include laptop {
          width: 104px;
          filter: brightness(0) saturate(100%) invert(2%) sepia(98%) saturate(5513%)
            hue-rotate(336deg) brightness(97%) contrast(99%);
        }
      }
    }
  }

  &.hidden.active &__logo {
    display: none;

    @include laptop {
      display: block;
    }
  }

  &__nav {
    @include laptop {
      display: none;
    }

    &-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
      margin: 0;
      padding: 0;
      list-style-type: none;

      @include desktop {
        gap: 12px;
      }

      &-item {
        flex: 0 0 auto;

        &-link {
          display: inline-block;
          min-height: 44px;
          padding: 12px 24px;
          box-sizing: border-box;
          font-weight: 500;
          font-size: 16px;
          line-height: 125%;
          color: #282828;
          border: none;
          border-radius: 32px;
          background-color: #f4f4fb;
          transition-property: background-color;
          transition-timing-function: ease-out;
          transition-duration: 0.2s;
          cursor: pointer;

          @include desktop {
            padding: 12px 16px;
          }

          &:hover {
            background-color: #f2f8fd;
          }

          &:active {
            background-color: #e1f0fa;
          }
        }
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    gap: 16px;

    @include laptop {
      gap: 6px;
    }

    &-profile,
    &-login,
    &-buy {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;
      min-height: 44px;
      padding: 12px 24px;
      box-sizing: border-box;
      font-weight: 500;
      font-size: 16px;
      line-height: 125%;
      color: #282828;
      border: none;
      border-radius: 32px;
      background-color: #f4f4fb;
      transition-property: background-color;
      transition-timing-function: ease-out;
      transition-duration: 0.2s;
      cursor: pointer;

      @include laptop {
        display: none;
      }

      &:hover {
        background-color: #f2f8fd;
      }

      &:active {
        background-color: #e1f0fa;
      }
    }

    &-profile,
    &-notifications,
    &-menu {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 44px;
      aspect-ratio: 1;
      box-sizing: border-box;
      border: none;
      border-radius: 32px;
      background-color: #fefefe;
      cursor: pointer;

      &::before {
        content: '';
        display: block;
        flex: 0 0 auto;
        width: 22px;
        aspect-ratio: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &-notifications {
      display: none;

      @include laptop {
        display: flex;
      }

      &::before {
        background-image: url(../assets/bell.svg);
      }

      &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: 11px;
        display: block;
        width: 6px;
        aspect-ratio: 1;
        border: 2px solid #fefefe;
        border-radius: 10px;
        background-color: #8f2d29;
      }
    }

    &-menu {
      display: none;

      @include laptop {
        display: flex;
      }

      &::before {
        background-image: url(../assets/menu.svg);
      }
    }

    &-profile {
      display: none;

      @include laptop {
        display: none;
      }

      &::before {
        background-image: url(../assets/profile.svg);
      }
    }

    &_logged &-profile {
      display: flex;
    }

    &_logged &-login {
      display: none;
    }

    &-buy {
      color: #fefefe;
      background-color: #8f2d29;

      &:hover {
        background-color: #9f322d;
      }

      &:active {
        background-color: #af3732;
      }
    }
  }
}
